<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVhBmKyr87DHqcrvCtq-tOs8Y1STwBqDs</string>
	<key>GCM_SENDER_ID</key>
	<string>445072558069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memoWords.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>memo-words-e2163</string>
	<key>STORAGE_BUCKET</key>
	<string>memo-words-e2163.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445072558069:ios:98136d2d3acb7f7533c2bc</string>
</dict>
</plist>